<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=painting.nome%></title>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
    <h1>Obra =====</h1>
    <div class="painel">
    <h2><%=painting.nome%></h2>
    <img src="<%= painting.urlimagem%>" alt="<%=painting.nome%>"/>
    <h4><%=painting.artista%></h4>
    <hr>
    </div>
</body>
</html>